<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find sirius_description)/xacro/transmission.xacro"/>

    <xacro:macro name="leg" params="prefix mirror mirror_dae front_hind front_hind_dae simulator robot_type *origin">

        <xacro:if value="${simulator == 'ocs2'}">
            <joint name="${prefix}_HAA" type="revolute">
                <!--            insert start block from parent file-->
                <xacro:insert_block name="origin"/>
                <parent link="trunk"/>
                <child link="${prefix}_hip"/>
                <axis xyz="1 0 0"/>
                <dynamics damping="${damping}" friction="${friction}"/>
                <limit effort="${abad_torque_max}" velocity="${abad_velocity_max}" lower="${abad_position_min}"
                       upper="${abad_position_max}"/>
            </joint>
        </xacro:if>

        <xacro:if value="${simulator == 'arclab_rl'}">
            <joint name="${prefix}_hip_joint" type="revolute">
                <!--            insert start block from parent file-->
                <xacro:insert_block name="origin"/>
                <parent link="trunk"/>
                <child link="${prefix}_hip"/>
                <axis xyz="1 0 0"/>
                <dynamics damping="${damping}" friction="${friction}"/>
                <limit effort="${abad_torque_max}" velocity="${abad_velocity_max}" lower="${abad_position_min}"
                       upper="${abad_position_max}"/>
            </joint>
        </xacro:if>

        <link name="${prefix}_hip">
            <visual>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fl_abad_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fr_abad_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rl_abad_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rr_abad_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <material name="orange"/>
            </visual>
            <collision>
                <origin rpy="${pi/2} 0 0" xyz="${abad_origin_x*front_hind} ${abad_origin_y*mirror} 0"/>
                <geometry>
                    <cylinder length="${abad_length}" radius="${abad_radius}"/>
                </geometry>
            </collision>
            <inertial>
                <origin rpy="0 0 0"
                        xyz="${abad_com_x*front_hind} ${abad_com_y*mirror} ${abad_com_z}"/>
                <mass value="${abad_mass}"/>
                <inertia
                        ixx="${abad_ixx}" ixy="${abad_ixy*front_hind*mirror}"
                        ixz="${abad_ixz*front_hind}"
                        iyy="${abad_iyy}" iyz="${abad_iyz*mirror}"
                        izz="${abad_izz}"/>
            </inertial>
        </link>


        <xacro:if value="${simulator == 'ocs2'}">
            <joint name="${prefix}_HFE" type="revolute">
                <origin rpy="0 0 0" xyz="${hip_origin_x*front_hind} ${hip_origin_y*mirror} 0"/>
                <parent link="${prefix}_hip"/>
                <child link="${prefix}_thigh"/>
                <axis xyz="0 1 0"/>
                <dynamics damping="${damping}" friction="${friction}"/>
                <limit effort="${hip_torque_max}" velocity="${hip_velocity_max}" lower="${hip_position_min}"
                       upper="${hip_position_max}"/>
            </joint>
        </xacro:if>

        <xacro:if value="${simulator == 'arclab_rl'}">
            <joint name="${prefix}_thigh_joint" type="revolute">
                <origin rpy="0 0 0" xyz="${hip_origin_x*front_hind} ${hip_origin_y*mirror} 0"/>
                <parent link="${prefix}_hip"/>
                <child link="${prefix}_thigh"/>
                <axis xyz="0 1 0"/>
                <dynamics damping="${damping}" friction="${friction}"/>
                <limit effort="${hip_torque_max}" velocity="${hip_velocity_max}" lower="${hip_position_min}"
                       upper="${hip_position_max}"/>
            </joint>
        </xacro:if>

        <link name="${prefix}_thigh">
            <visual>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fl_hip_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fr_hip_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rl_hip_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rr_hip_link.dae"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <material name="orange"/>
            </visual>
            <collision>
                <origin rpy="${pi/2} 0 0"
                        xyz="0 0 0"/>
                <geometry>
                    <cylinder length="${hip_shoulder_length}" radius="${hip_shoulder_radius}"/>
                </geometry>
            </collision>
            <collision>
                <origin rpy="${pi/2} 0 0"
                        xyz="0 ${hip_shoulder2_y_offset*mirror} 0"/>
                <geometry>
                    <cylinder length="${hip_shoulder2_length}" radius="${hip_shoulder2_radius}"/>
                </geometry>
            </collision>
            <collision>
                <origin rpy="0 ${(90)/180*pi} 0"
                        xyz="${hip_x_offset} 0 ${hip_z_offset}"/>
                <geometry>
                    <box size="${hip_length} ${hip_width} ${hip_height}"/>
                </geometry>
            </collision>
            <inertial>
                <origin rpy="0 0 0" xyz="${hip_com_x*front_hind} ${hip_com_y*mirror} ${hip_com_z}"/>
                <mass value="${hip_mass}"/>
                <inertia
                        ixx="${hip_ixx}" ixy="${hip_ixy*mirror}" ixz="${hip_ixz}"
                        iyy="${hip_iyy}" iyz="${hip_iyz*mirror}"
                        izz="${hip_izz}"/>
            </inertial>
        </link>

        <xacro:if value="${simulator == 'ocs2'}">
            <joint name="${prefix}_KFE" type="revolute">
                <origin rpy="0 0 0"
                        xyz="${knee_origin_x*front_hind} ${knee_origin_y*mirror} ${knee_origin_z}"/>
                <parent link="${prefix}_thigh"/>
                <child link="${prefix}_calf"/>
                <axis xyz="0 1 0"/>
                <dynamics damping="${damping}" friction="${friction}"/>
                <xacro:if value="${front_hind == 1}">
                    <limit effort="${knee_torque_max}" velocity="${knee_velocity_max}" lower="${knee_position_min}"
                           upper="${knee_position_max}"/>
                </xacro:if>
                <xacro:if value="${front_hind == -1}">
                    <limit effort="${knee_torque_max}" velocity="${knee_velocity_max}" lower="${knee_position_max*front_hind}"
                           upper="${knee_position_min*front_hind}"/>
                </xacro:if>
            </joint>
        </xacro:if>

        <xacro:if value="${simulator == 'arclab_rl'}">
            <joint name="${prefix}_calf_joint" type="revolute">
                <origin rpy="0 0 0"
                        xyz="${knee_origin_x*front_hind} ${knee_origin_y*mirror} ${knee_origin_z}"/>
                <parent link="${prefix}_thigh"/>
                <child link="${prefix}_calf"/>
                <axis xyz="0 1 0"/>
                <dynamics damping="${damping}" friction="${friction}"/>
                <xacro:if value="${front_hind == 1}">
                    <limit effort="${knee_torque_max}" velocity="${knee_velocity_max}" lower="${knee_position_min}"
                           upper="${knee_position_max}"/>
                </xacro:if>
                <xacro:if value="${front_hind == -1}">
                    <limit effort="${knee_torque_max}" velocity="${knee_velocity_max}" lower="${knee_position_max*front_hind}"
                           upper="${knee_position_min*front_hind}"/>
                </xacro:if>
            </joint>
        </xacro:if>

        <link name="${prefix}_calf">
            <visual>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fl_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fr_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rl_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rr_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <material name="orange"/>
            </visual>
            <collision>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fl_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fr_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rl_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rr_knee_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
            </collision>
            <inertial>
                <origin rpy="0 0 0" xyz="${knee_com_x} ${knee_com_y} ${knee_com_z}"/>
                <mass value="${knee_mass}"/>
                <inertia
                        ixx="${knee_ixx}" ixy="${knee_ixy}" ixz="${knee_ixz}"
                        iyy="${knee_iyy}" iyz="${knee_iyz}"
                        izz="${knee_izz}"/>
            </inertial>
        </link>

        <joint name="${prefix}_foot_fixed" type="fixed">
                <origin rpy="0 0 0" xyz="0 0 ${-(knee_length)}"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="${prefix}_calf"/>
            <child link="${prefix}_foot"/>
        </joint>

        <link name="${prefix}_foot">
            <visual>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fl_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fr_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rl_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rr_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
            </visual>
            <collision>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fl_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == True)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/fr_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == True) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rl_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
                <xacro:if value="${(mirror_dae == False) and (front_hind_dae == False)}">
                    <origin rpy="0 0 0" xyz="0 0 0"/>
                    <geometry>
                        <mesh filename="package://sirius_description/meshes/rr_foot_link.STL"
                              scale="1 1 1"/>
                    </geometry>
                </xacro:if>
            </collision>
            <inertial>
                <mass value="${foot_mass}"/>
                <inertia
                        ixx="${(2*foot_mass)/5.0*(foot_radius*foot_radius)}" ixy="0.0" ixz="0.0"
                        iyy="${(2*foot_mass)/5.0*(foot_radius*foot_radius)}" iyz="0.0"
                        izz="${(2*foot_mass)/5.0*(foot_radius*foot_radius)}"/>
            </inertial>
        </link>

        <gazebo reference="${prefix}_foot_fixed">
            <disableFixedJointLumping>true</disableFixedJointLumping>
        </gazebo>

        <gazebo reference="${prefix}_hip">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <material>Gazebo/DarkGrey</material>
        </gazebo>
        <gazebo reference="${prefix}_thigh">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>0</self_collide>
            <material>Gazebo/DarkGrey</material>
            <kp value="1000000.0"/>
            <kd value="100.0"/>
        </gazebo>
        <gazebo reference="${prefix}_calf">
            <mu1>0.6</mu1>
            <mu2>0.6</mu2>
            <self_collide>1</self_collide>
        </gazebo>
        <gazebo reference="${prefix}_FOOT">
            <mu1>0.6</mu1>
            <mu2>0.6</mu2>
            <self_collide>1</self_collide>
            <material>Gazebo/DarkGrey</material>
            <kp value="1000000.0"/>
            <kd value="100.0"/>
        </gazebo>

        <xacro:leg_transmission name="${prefix}"/>
    </xacro:macro>
</robot>
