<?xml version="1.0"?>

<robot name="arcdog" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="DEBUG" default="true"/>
	<xacro:arg name="GAZEBO" default="false"/>
	<xacro:arg name="CLASSIC" default="false"/>
    <xacro:arg name="robot_type" default="arcdog"/>
    <xacro:property name="robot_type" value="$(arg robot_type)"/>
	<xacro:arg name="simulator" default="test"/>
    <xacro:property name="simulator" value="$(arg simulator)"/>

	<xacro:include filename="$(find arcdog_description)/xacro/const.xacro"/>
	<xacro:include filename="$(find arcdog_description)/xacro/materials.xacro"/>
	<xacro:include filename="$(find arcdog_description)/xacro/leg.xacro"/>

	<xacro:if value="$(arg GAZEBO)">
		<xacro:if value="$(arg CLASSIC)">
			<xacro:include filename="$(find arcdog_description)/xacro/gazebo_classic.xacro"/>
		</xacro:if>
		<xacro:unless value="$(arg CLASSIC)">
			<xacro:include filename="$(find arcdog_description)/xacro/gazebo.xacro"/>
		</xacro:unless>
	</xacro:if>
	<xacro:unless value="$(arg GAZEBO)">
		<xacro:include filename="$(find arcdog_description)/xacro/ros2_control_real_robot.xacro"/>
	</xacro:unless>


	<!-- <xacro:stairs stairs="15" xpos="0" ypos="0" zpos="0" /> -->

	<!-- Rotor related joint and link is only for demonstrate location. -->
	<!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->

	<!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
	<xacro:if value="$(arg DEBUG)">
		<link name="world"/>
		<joint name="base_static_joint" type="fixed">
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<parent link="world"/>
			<child link="base"/>
		</joint>
	</xacro:if>

	<link name="base">
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<box size="0.001 0.001 0.001"/>
			</geometry>
		</visual>
	</link>

	<joint name="floating_base" type="fixed">
		<origin rpy="0 0 0" xyz="0 0 0"/>
		<parent link="base"/>
		<child link="trunk"/>
	</joint>

	<link name="trunk">
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<mesh filename="file://$(find arcdog_description)/meshes/trunk.stl" scale="1 1 1"/>
			</geometry>
		</visual>
		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
			</geometry>
		</collision>
		<inertial>
			<origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
			<mass value="${trunk_mass}"/>
			<inertia
							ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
							iyy="${trunk_iyy}" iyz="${trunk_iyz}"
							izz="${trunk_izz}"/>
		</inertial>
	</link>

	<joint name="imu_joint" type="fixed">
		<origin rpy="0. 0. 0." xyz="0. 0. 0."/>
		<parent link="trunk"/>
		<child link="imu_link"/>
	</joint>

	<link name="imu_link">
        <inertial>
            <mass value="0.01"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
		</inertial>
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<box size="0.015 0.015 0.004"/>
			</geometry>
		</visual>
		<material name="orange">
            <color rgba="255 108 10 255"/>
        </material>

	</link>
    <gazebo reference="imu_link">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="imu_joint">
        <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <xacro:leg prefix="FR" mirror="-1" mirror_dae="False" front_hind="1" front_hind_dae="True" simulator="${simulator}" robot_type="${robot_type}">
        <origin rpy="0 0 0" xyz="${leg_offset_x} ${-leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="FL" mirror="1" mirror_dae="True" front_hind="1" front_hind_dae="True" simulator="${simulator}" robot_type="${robot_type}">
        <origin rpy="0 0 0" xyz="${leg_offset_x} ${leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="RR" mirror="-1" mirror_dae="False" front_hind="-1" front_hind_dae="False" simulator="${simulator}" robot_type="${robot_type}">
        <origin rpy="0 0 0" xyz="${-leg_offset_x} ${-leg_offset_y} 0"/>
    </xacro:leg>

    <xacro:leg prefix="RL" mirror="1" mirror_dae="True" front_hind="-1" front_hind_dae="False" simulator="${simulator}" robot_type="${robot_type}">
        <origin rpy="0 0 0" xyz="${-leg_offset_x} ${leg_offset_y} 0"/>
    </xacro:leg>

</robot>
