<?xml version="1.0"?>
<robot name="sirius_piper" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="DEBUG" default="false"/>
    <xacro:arg name="GAZEBO" default="false"/>
    <xacro:arg name="CLASSIC" default="false"/>
    <xacro:arg name="robot_type" default="sirius_type"/>
    <xacro:property name="robot_type" value="$(arg robot_type)"/>
	<xacro:arg name="simulator" default="arclab_rl"/>

    <xacro:include filename="$(find sirius_description)/xacro/sirius.xacro" />

    <xacro:include filename="$(find piper_description)/urdf/piper_arm.xacro"/>

    <joint name="arm_mount_joint" type="fixed">
        <parent link="trunk"/>
        <child link="base_link"/>
        <origin xyz="0.2 0 0.085" rpy="0 0 0"/>
    </joint>
    <xacro:include filename="$(find quadruped_manipulator_description)/xacro/ros2_control.xacro"/>
</robot>